<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Tech Blog</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
       <nav>
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/dashboard">Dashboard</a>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/login">Logout</a>
        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
 
  </div>
  

</body>

</html>