<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Tech Blog</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
  
</head>

<body>
  <div class="wrapper-nav">
    <header>
       <nav>
               <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="/dashboard">Dashboard</a>
        
            {{#if loggedIn}}
                <a class="nav-link" id="logout" href="/logout">Logout</a>
            {{else}}
                <a class="nav-link" id="login" href="/login">Login</a>
            {{/if}}
        </nav>
    </header>
    <main>
      {{{ body }}}  
      {{!-- body comes from partials --}}
    </main>
 
  </div>

{{!-- <script src="/javascript/add-post.js"></script> --}}
  
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
{{else}}
    <script src="/javascript/login.js"></script>
{{/if}}

</body>

</html>