* {
    box-sizing: border-box;
} 


body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgba(8, 102, 8, 0.466);
}

header {
    margin-bottom: 20px;
    background-color: rgba(126, 12, 12, 0.144);
    padding: 20px;
}


.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

nav a{
    text-decoration: none;
    margin-left: 20px;
    color: rgba(13, 104, 13, 0.753);
    font-weight: bold;
  
  
}