




{{#if posts.length}}
<section>
   
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
           
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>