




{{#if posts.length}}
<section>
   
    <ol>
        {{#each posts as |post|}}
        <li id="edit-post-section">
            {{> post-info post}}
            <a id="edit-post-btn" href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
         
           
            <a id="comment-btn" href="/post/{{post.id}}">{{post.comments.length}}
                    {{format_plural "comment" post.comments.lenght}}</a>
          
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>