<form class="login-form">
  <div>
     <p>Login</p>
    <label for="username-login">Username</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
  <div>
      <a href="/signup" id="signup-link">Sign up instead</a>
  </div>
</form>

<script src="../public/javascript/login.js"></script>