<div  class="container">
    <div class="wrapper">
        <div class="title">
            <span>Login</span>
        </div>
        <form class="login-form">
            <div class="row">
                <label for="username"><b>Username</b></label>
                <input type="text" id="username-login" name="username" autocomplete="off">

            </div>
            <div class="row">
                 <label for="password"><b>Password</b></label>
                <input type="password" id="password-login" name="password" autocomplete="off">

            </div>
            <div class="submit-btn">
                <button class="btn" id="login-btn" type="submit">Login</button>

            </div>
            <div>
                <a href="/signup" class="link" id="signup-link">Sign up instead</a>

            </div>
        </form>
    </div>
 


<script src="/javascript/login.js"></script>