<div  class="container">
    <div class="wrapper">
        <div class="title">
            <span>Sign up</span>
        </div>
        <form class="signup-form">
            <div class="row">
                <label for="username"><b>Username</b></label>
                <input type="text" id="username-signup" name="username">

            </div>
            <div class="row">
                 <label for="password"><b>Password</b></label>
                <input type="password" id="password-signup" name="password">

            </div>
            <div class="submit-btn">
                <button class="btn" id="signup-btn" type="submit">Sign Up</button>

            </div>
            <div>
                <a href="/" class="link" id="signin-link">Sign in instead</a>

            </div>
        </form>
    </div>
 

<script src="/javascript/signup.js"></script>