
<a href="/dashboard"> &larr; Back to dashboard</a>

<div id="post-comment">
        <ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
    </ol>

    {{#if loggedIn}}
    <form class="comment-form">
        <div>
        <textarea id="comment-body" name="comment-body"></textarea>
        </div>

        <div>
        <button type="submit">add comment</button>

        </div>
    </form>
    {{/if}}

    {{> comments post.comments}}


</div>


{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}